<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/index.css" rel="stylesheet"/>
    <title>Task Manager</title>
   
</head>
<body>
    <div class="main">
        <section class="sidebar">
            {% include('components/sidebar.html') %}
        </section>
        <section class="maincontent">
            {% if id=='addtask'%}
               {% include('components/addtask.html') %}
            {% elif(id=='deletetask') %} 
                {% include('components/deletetask.html') %}
            {% else %} 
                {% include('components/tasklist.html') %}
            {% endif %}     
       </section>
    </div>
    <script src="/static/javascript/index.js"></script>
</body>
</html>