*
{
    padding: 0;
    margin: 0;
}
h1{
    width: 100%;
    text-align: center;
}
.main
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
.main .sidebar
{
    width: 20%;
    background-color: #FCFAF8;
    height: 100%;
}
.main .maincontent
{
    width: 80%;
    background-color: blue;
}