<h1>Task Manager</h1>

<form id="addtask">
    <input type="text" name="taskname" placeholder="Task" class="taskname"/>
    <input type="text" name="description" placeholder="Description"  class="description"/>
    <input type="date" name="date" placeholder="date" class="date"/>
    <select class="completed"  name="status" class="status">
        <option>Completed</option>
        <option>Incompleted</option>
    </select>
    <button type="submit" id="submitaddtask">Add task</button>
    <label id="message"></label>
</form>