<section class="crudlist">
    <img src="static/Assets/edit.png" width="20" height="20"/>
    <h1><a href="/addtask">Add Task</a></h1>
</section>
<section class="crudlist">
    <img  src="static/Assets/refresh.png"  width="20" height="20"/>
    <h1>Update Task</h1>
</section>
<section class="crudlist">
    <img  src="static/Assets/bin.png"  width="20" height="20"/>
    <h1><a href="/deletetask">Delete Task</a></h1>
</section>
<section class="crudlist">
    <img  src="static/Assets/edit.png"  width="20" height="20"/>
    <h1><a href="/tasklist">Task List</a></h1>
</section>