<section class="crudlist">
    <img src="static/Assets/edit.png" width="20" height="20"/>
    <h1>Add Task</h1>
</section>
<section class="crudlist">
    <img  src="static/Assets/refresh.png"  width="20" height="20"/>
    <h1>Update Task</h1>
</section>
<section class="crudlist">
    <img  src="static/Assets/bin.png"  width="20" height="20"/>
    <h1>Delete Task</h1>
</section>
<section class="crudlist">
    <img  src="static/Assets/edit.png"  width="20" height="20"/>
    <h1>Task List</h1>
</section>