<h1>Task Manager</h1>
<div class="search">
    <input type="text" name="search"  class="searchinput"/>
    <button class="searchbtn">Search</button>
</div>
<div class="taskmanager">
    {% if task%}
    {% for i in task %}
    <div class="tasklist">
       <span> Task: {{i.taskname}}</span>
        <span>Description: {{i.description}}</span>
            <span> Date: {{i.date}}</span>
                <span> Status: {{i.status}}</span>
    </div>
    {% endfor %}
    {% else %}
    <div class="tasklist">
        <span> No item found with this name</span>
    </div>
    {% endif %}
</div>

</form>